---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import LevelCell from '../components/LevelCell.astro';

import Levels from '../listshit';

if (Levels == null) {
	alert("The list is experiencing some backend issues. Sorry about that.");
}

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<div id="listContainer">
			{Levels.map((levels: any, index) => (
				<LevelCell title={levels.level_name} framerate={levels.framerate+" FPS"} creator={"by "+levels.creator} ID={levels.id} verification={levels.verification} iter={index+1} />
			  ), )}
			</div>
		</main>
		<Footer />
	</body>
</html>
