---
import type { CollectionEntry } from 'astro:content';
const { title, framerate, creator, ID, verification, iter } = Astro.props;
---

<section class="panel fade" style="overflow:hidden">
    <div class="flex" style="align-items: center">
        </div><div style="padding-left: 15px">
            <h2 style="text-align: left; margin-bottom: 0px">
                <a>#{iter} - {title}</a>
            </h2><h3 style="text-align: left"><i>{creator} / {framerate} / {ID}</h3>
        </div>
    </div>
</section>